@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    border: 2px solid black;
    width: 35vw;
    text-align: center;
}

.box-1 {
    border-top-color: #14d0c5;
}

.shopify-name-container {
    display: flex;
    align-items: center;

}

.shopify-name {
    font-size: 20px;
    font-weight: 700px;


}

.navbar-image {
    width: 30px;
    height: 40px;

}

.nav-link {
    font-size: 16px;
    color: black;
    text-decoration: underline;
}













.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;




}

.heading {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 700;
    padding-left: 40px;

}

.text-heading {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    padding-left: 40px;
    margin-top: 40px;

}

.paragraph {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    padding-left: 40px;

}



.price-container {
    display: flex;
    align-items: center;
    padding-left: 40px;


}

.price {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 700;
}

.price-paragraph {
    font-weight: 600;
}

.months-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d0f6f3;

}

.months-paragraph {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    padding-right: 5px;
    padding-top: 10px;


}

.bi-currency-rupee {
    padding-left: 2px;


}


.write-container {
    display: flex;
    align-items: center;
    padding-left: 40px;

}

.button {
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 15px;
    width: 25vw;
    margin-left: 40px;
    margin-top: 20px;
}
